.timer-container {
    background-color: var(--bg-light);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 75vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2),
        3px 3px 3px 3px rgba(0, 0, 0, 0.16);
}

.timer {
    display: flex;
    font-size: 10vw;
    align-items: baseline;
    font-family: 'Original Surfer', cursive;
    justify-content: center;
    text-align: center;
}

.timer > * > * {
    flex: 1 1 100%;
}

.timer > .digits {
    flex: 1 1 100%;
}

[class='2-ms'] {
    font-size: 3vw;
}

.control {
    display: flex;
    gap: 20px;
}

button {
    width: 4vw;
    height: 4vw;
    font-family: 'Original Surfer', cursive;
    font-size: x-large;
    border-radius: 50%;
    border-width: 0;
    transition: transform 0.1s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2),
        3px 3px 3px 3px rgba(0, 0, 0, 0.16);
    min-width: 80px;
    min-height: 80px;
}

.start-button {
    background-color: hsl(90, 100%, 87%);
    transition-duration: 100ms;
}
.start-button:hover {
    background-color: hsl(90, 100%, 67%);
    transform: scale(1.1);
}
.start-button:active {
    background-color: hsl(90, 100%, 67%);
    transform: scale(0.9);
}

.reset-button {
    background-color: hsl(244, 100%, 87%);
    transition-duration: 100ms;
}
.reset-button:hover {
    background-color: hsl(244, 100%, 67%);
    transform: scale(1.1);
}
.reset-button:active {
    transform: scale(0.9);
    background-color: hsl(244, 100%, 67%);
}
