@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
body {
    margin: 0;
    --bg-dark: #264653;
    --bg-neutral: #e9c46a;
    --bg-light: #e76f51;
    font-family: 'Original Surfer', cursive;
}
.main {
    margin: 0;
    background-color: var(--bg-neutral);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
